# ignore files created automatically by Visual Studio, except COEF.vcproj
*.ncb
*.suo
*.sln
*.vcproj*
*.lib
Debug/
Release/
!COEF.vcproj
!ExportInjector.lib

# ignore side projects that don't belong in the public repo
/testing.cpp
/DecoratedNameExtractor*
/ExportInjector/
/UndecorateName/
/RSH Gamebryo SDK/
/ResourceReader/
/ExamplePlugin/

# ignore files marked as TODO, which need further cleaning before being added to public repo
*.TODO

# ignore files containing intermediate documentation (excel spreadsheets, resource dumps, etc)
*.xls
*.rc
CS_IDA_RTTI_dump.txt
Game_IDA_RTTI_dump.txt